<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Icube\OkrDivisiCustomSyaiful\Api\AcaraRepositoryInterface" type="Icube\OkrDivisiCustomSyaiful\Model\AcaraRepository" />
    <preference for="Icube\OkrDivisiCustomSyaiful\Api\Data\AcaraInterface" type="Icube\OkrDivisiCustomSyaiful\Model\Acara" />
    <preference for="Icube\OkrDivisiCustomSyaiful\Api\PesertaRepositoryInterface" type="Icube\OkrDivisiCustomSyaiful\Model\PesertaRepository" />
    <preference for="Icube\OkrDivisiCustomSyaiful\Api\Data\PesertaInterface" type="Icube\OkrDivisiCustomSyaiful\Model\Peserta" />
    <preference for="Icube\OkrDivisiCustomSyaiful\Api\Data\AcaraSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
</config>