<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="icube" translate="label" sortOrder="1000">
            <label>Icube</label>
        </tab>
        <section id="auto_category" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Auto Category</label>
            <tab>icube</tab>  
            <resource>Icube_AutoCategory::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enable Auto Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="new_range" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Range (in days)</label>
                </field>
                <field id="cron" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron</label>
                    <comment><![CDATA[
<pre>
* * * * *
| | | | |
| | | | +---- Day of the Week   (range: 1-7, 1 = Monday)
| | | +------ Month of the Year (range: 1-12)
| | +-------- Day of the Month  (range: 1-31)
| +---------- Hour              (range: 0-23)
+------------ Minute            (range: 0-59)
Example: 0 0 * * * Daily at midnight
</pre>
                            ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>

